<h1>Black List</h1>
<% if @customers.empty? %>
<p>No customers</p>
<% else %>
<table>
  <tr>
    <th>name</th>
    <th>phone</th>
    <th>description</th>
    <th></th>
  </tr>
  <% @customers.each do |i| %>
  <tr>
    <td><%= link_to i.name, customer_path(i) %></td>
    <td><%= i.phone %></td>
    <td><%= i.description %></td>
    <td><%= link_to "delete from black list", black_list_path(i), method: :delete %></td>
  </tr>
  <% end %>
</table>
<% end %>

<%= link_to 'Back to Customers', customers_path %>
